<app-toolbar (navToggleL)="toggleNavL()"></app-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="side"
               [opened]="navBarOpenL" >
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item [routerLink]="route.route">
        <app-margin-icon [iconName]="route.icon">
        </app-margin-icon>{{route.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-sidenav mode="side"
                 [opened]="navBarOpenR"
                 position="end">
      <div fxFlex>
        <mat-card>
          End content
        </mat-card>
      </div>
    </mat-sidenav>
    <div fxFlex>
      <mat-card>
        Main
      </mat-card>
    </div>
    <footer fxLayout="column">
      <div fxLayout="row">
        <hr fxFlex="100">
      </div>
      <p fxFlexAlign="center"> My page</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
